.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  CSS Edits from responsive Image Homepage ----- Above CSS was here already  */
.Home {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.Home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  
}

/* START - RESIZING TITLE BASED ON SCREEN SIZE */
/* If the screen size is 576px wide or more, set the font-size of .Title to 120px */
@media screen and (min-width: 576px) {
  .Title, .P-Title, .S-Title, .About-Us-Title{
    font-size: 120px;
  }
}

/* If the screen size is 768px wide or more, set the font-size of .Title to 100px */
@media screen and (min-width: 768px) {
  .Title, .P-Title, .S-Title, .About-Us-Title{
    font-size: 100px;
  }
}

/* If the screen size is 992px wide or more, set the font-size of .Title to 80px */
@media screen and (min-width: 992px) {
  .Title, .P-Title, .S-Title, .About-Us-Title{
    font-size: 80px;
  }
}

/* If the screen size is 1200px wide or less, set the font-size of .Title to 40px */
@media screen and (max-width: 1200px) {
  .Title, .P-Title, .S-Title, .About-Us-Title{
    font-size: 40px;
  }
}
/* END - RESIZING TITLE BASED ON SCREEN SIZE */
@media screen and (max-width: 1200px) {
  .Table, .call-today{
    font-size: 14px;
  }
}

@media (min-width: 650px ) {
  .App {
      background-position: center center;
  }

  .App-content {
      align-items: flex-end;
      justify-content: center;
  }
}

/* Rounding Card-images */
.cards-image {
  border-radius: 50%;
  width: 195px;
  height: 130px;
}

/* Student and Preceptor inquiry cards -- home page */
.Cards-Home {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Image Logo Home page center */
.home-logo {
  opacity: 0.5;
  border-radius: 4px;
  padding: 5px;

}

/*  Footer Logo Sizing */
.navbar-brand, .header-logo{
  border-radius: 50%;
  width: 300px;

}

/* Inquiry Button Styling - Home-page */
.Button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color:#D7b740;
  margin: auto;
  
}

.Button:hover {
  background-color:#D7b740; 
  color: white;
 }

 /* ----------START - i-form Responsive Styling-------------*/
 .iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}
 /*----------- END - i-form Responsive Styling -----------*/

 