.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  CSS Edits from responsive Image Homepage ----- Above CSS was here already  */
.Home {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.Home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  
}

/* START - RESIZING TITLE BASED ON SCREEN SIZE */
/* If the screen size is 576px wide or more, set the font-size of .Title to 120px */
@media screen and (min-width: 576px) {
  .Title, .P-Title, .S-Title, .About-Us-Title{
    font-size: 120px;
  }
}

/* If the screen size is 768px wide or more, set the font-size of .Title to 100px */
@media screen and (min-width: 768px) {
  .Title, .P-Title, .S-Title, .About-Us-Title{
    font-size: 100px;
  }
}

/* If the screen size is 992px wide or more, set the font-size of .Title to 80px */
@media screen and (min-width: 992px) {
  .Title, .P-Title, .S-Title, .About-Us-Title{
    font-size: 80px;
  }
}

/* If the screen size is 1200px wide or less, set the font-size of .Title to 40px */
@media screen and (max-width: 1200px) {
  .Title, .P-Title, .S-Title, .About-Us-Title{
    font-size: 40px;
  }
}
/* END - RESIZING TITLE BASED ON SCREEN SIZE */
@media screen and (max-width: 1200px) {
  .Table {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .Call-Today {
    font-size: 0px;
  }
}


@media (min-width: 650px ) {
  .App {
      background-position: center center;
  }

  .App-content {
      align-items: flex-end;
      justify-content: center;
  }
}

/* Rounding Card-images */
.cards-image {
  border-radius: 50%;
  width: 195px;
  height: 130px;
}

/* Student and Preceptor inquiry cards -- home page */
.Cards-Home {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Image Logo Home page center */
.home-logo {
  /* opacity: 0.5; */
  border-radius: 4px;
  padding: 5px;

}

/*  Footer Logo Sizing */
.navbar-brand, .header-logo{
  border-radius: 50%;
  width: 300px;

}

 /* ----------START - i-form Responsive Styling-------------*/
 .iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}
 /*----------- END - i-form Responsive Styling -----------*/

 .P-Title, .S-Title, .About-Us-Title, .Call-Today {
 
  text-shadow:
  -1px -1px 0 #D7b740,
  1px -1px 0 #D7b740,
  -1px 1px 0 #D7b740,
  1px 1px 0 #D7b740;  
}
 
/*---------START BUTTON ANIMATIONS-HOME-PAGE--------- */
     .Button{
      cursor:pointer;
        position:relative;
        padding:10px 20px;
        background:#D7b740;
        font-size:28px;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        transition:all 1s;
     }
        Button:after, Button:before{
          content:" ";
          width:10px;
          height:10px;
          position:absolute;
          border :0px solid #fff;
          transition:all 1s;
          }
          .Button:after{
          top:-1px;
          left:-1px;
          border-top:5px solid black;
          border-left:5px solid black;
        }
        .Button:before{
          bottom:-1px;
          right:-1px;
          border-bottom:5px solid #D7b740;
          border-right:5px solid #D7b740;
        }
        .Button:hover{
          border-top-right-radius:0px;
        border-bottom-left-radius:0px;
           background:rgba(0,0,0,.5);
           color:#D7b740;
        }
          .Button:before, .Button:after{
            
            width:100%;
            height:100%;
             border-color:#D7b740;
          }
/*---------START BUTTON ANIMATIONS-HOME-PAGE--------- */

/* Hover Gold border for NavBar (Header) */
.nav-link:hover, .About-Us-Title:hover {
  border-bottom:1px solid #D7b740;
  border-right:1px solid #D7b740;
  border-top:1px solid #D7b740;
  border-left:1px solid #D7b740;
  background:rgba(0,0,0,.5);
  transition:all 1s;
}
        
      
      
  